<main class="bg-[#16213E] px-6 md:px-20 py-16">
    <div>
        <!-- Main Container -->
        <div class="flex items-center">
            <!-- Description (left) -->
            <div class="text-white flex-col w-[40%]">
                <div class="text-3xl space-y-3">
                    Want to check the time availablities for your favorite sport venues for a spit second?
                </div>
                <div class="text-3xl font-bold text-center my-4">
                    Kok Tarang is here to help!
                </div>

                <div class="flex justify-center">
                    <button class="border text-2xl p-3 rounded-lg" routerLink="page">
            Explore Now
          </button>
                </div>
            </div>
            <!-- Image (Right) -->
            <div class="w-[50%] h-auto">
                <img src="../../../assets/illlustration_removebg.png" alt="" />
            </div>
        </div>

        <!-- Label: Why you should consider joining? -->
        <div class="text-white mt-32 text-xl font-bold mb-10">
            Why you should consider joining?
        </div>

        <!-- Container: Why you should consider joining?   -->
        <div class="text-white">
            <!-- Upper -->
            <div class="flex">
                <!-- Left -->
                <div class="flex w-1/2">
                    <!-- Tick -->
                    <div class="h-auto w-8 mr-5">
                        <img src="../../../assets/tick.png" alt="" />
                    </div>
                    <!-- Description -->
                    <div class="">
                        <div class="text-lg font-semibold mb-1">Daily Promotion</div>
                        <div>
                            We provide coupons and other promotion daily. Don't miss the chance and visit us regularly
                        </div>
                    </div>
                </div>

                <!-- Right -->
                <div class="flex w-1/2">
                    <!-- Tick -->
                    <div class="h-auto w-8 mr-5">
                        <img src="../../../assets/tick.png" alt="" />
                    </div>
                    <!-- Description -->
                    <div class="">
                        <div class="text-lg font-semibold mb-1">
                            Our Partnerships with Big Names
                        </div>
                        <div>
                            Not just only you will receive promotions, but you will be guaranteed that our website is 100% safe with big-name companies cooperated.
                        </div>
                    </div>
                </div>
            </div>

            <!-- Down -->
            <div class="flex mt-5">
                <!-- Left -->
                <div class="flex w-1/2">
                    <!-- Tick -->
                    <div class="h-auto w-8 mr-5">
                        <img src="../../../assets/tick.png" alt="" />
                    </div>
                    <!-- Description -->
                    <div class="">
                        <div class="text-lg font-semibold mb-1">
                            More than 70% of Sport Venues Registered
                        </div>
                        <div>
                            You will no longer has to worry about not finding enough information about each sport venues in Phnom Penh. Register Now for 50% off for booking.
                        </div>
                    </div>
                </div>

                <!-- Right -->
                <div class="flex w-1/2">
                    <!-- Tick -->
                    <div class="h-auto w-8 mr-5">
                        <img src="../../../assets/tick.png" alt="" />
                    </div>
                    <!-- Description -->
                    <div class="">
                        <div class="text-lg font-semibold mb-1">
                            Register Now for 50% off for booking
                        </div>
                        <div>
                            Still with many advantages, we do provide 50% off for those who have registed and booked in our website.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Our Objectives -->
        <section class="text-white mt-28">
            <h1>Our Objectives</h1>
            <p>
                Our goals are to provide a new way of booking your favorite sport venues without complications. By using our platform, we ensure that you will delivered a best and enjoyable experience and we promise to commit to doing so for all sports lovers.
            </p>
        </section>

        <!-- Partner -->
        <section class="text-white mt-28">
            <h1 class="border-b-2 text-center">Our Partners</h1>

            <div class="flex justify-around pt-10">
                <div class="h-auto w-40">
                    <img src="../../../assets/logos/aba-web-top-logo.png" alt="" />
                </div>
                <div class="h-auto w-40 pt-20">
                    <img src="../../../assets/logos/logo.png" alt="" />
                </div>
                <div class="h-auto w-40">
                    <img src="../../../assets/logos/unnamed.png" alt="" />
                </div>
            </div>

            <div class="flex justify-around mt-8">
                <div class="h-auto w-96">
                    <img src="../../../assets/logos/legend_logo.png" alt="" />
                </div>
                <div class="h-auto w-60">
                    <img src="../../../assets/logos/logo-for-reach-02-1.png" alt="" />
                </div>
            </div>
        </section>

        <!-- Meet Our Teams -->
        <section class="text-white mt-28">
            <h1>Meet Our Teams</h1>
            <p>
                To make our goals succeed, we would like to introduce the main drivers behind of all this new driven idea.
            </p>
            <div>
                <div>
                    <!-- Left -->
                    <div></div>

                    <!-- Right -->
                    <dir>
                        <div>
                            <h1>Theara SOEUNG</h1>
                            <h2>Product Manager</h2>
                        </div>
                        <div class="flex items-center">
                            <div class="w-10">
                                <img src="../../../assets/logos/messenger.png" alt="" />
                            </div>
                            <div class="w-7 mr-1">
                                <img src="../../../assets/logos/Telegram.png" alt="" />
                            </div>
                            <div class="w-8">
                                <img src="../../../assets/logos/telephone.png" alt="" />
                            </div>
                        </div>
                    </dir>
                </div>
            </div>
        </section>
    </div>
</main>

<!-- About Us -->
<!-- <div>
    <p>
      Our goals are to provide a new way of booking your favorite sport venues
      without complications. By using our platform, we ensure that you will
      delivered a best and enjoyable experience and we promise to commit to
      doing so for all sports' lovers.
    </p>
    <div>
      To make our goals succeed, we would like to introduce the main drivers
      behind of all this new driven idea.
    </div> -->

<!-- Roles: 1. Product Manager 2. Testers 3. UX/UI desingers 4. Q/A Engineer 5. Software architect 6. Front-end Developer x2  
    <div>
      <!-- Circle with image -->
<!-- <div></div> -->

<!-- Descriptions -->
<!-- <div></div>
    </div> -->

<!-- Our Clients -->
<!-- <div></div>
  </div>
</main> -->